{% trans_default_domain 'cocorico' %}
{% set header_class = header_class is defined ? header_class : null %}
<!-- header of the page -->
<header id="header" class="{{ header_class }} p-b-0">
    <div class="container full-header">
        <div class="row m-0">
            <div class="col-xs-12">
                <!-- main navigation of the page -->
                <nav class="navbar navbar-default">
                    <div class="logo-searchbar-section">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" tabindex="2">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- page logo -->
                            <a class="navbar-brand m-0" href="{{ path('cocorico_home') }}" tabindex="3">
                                {# <img src="{{ asset('images/logo.png') }}" alt="{{ 'nav.home.link'|trans }}" width="210" height="56"> #}
                                <svg id="eomii28s07n1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 -10 590 170" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><g id="eomii28s07n2" transform="matrix(1 0 0 1 10.52066040000000 0)"><g id="eomii28s07n3_ts" transform="translate(193,24) scale(1,1)"><g id="eomii28s07n3" transform="translate(0,0)"><path id="eomii28s07n4" d="M112.028600,0.928700C114.118600,1.047700,116.295600,0.171700,116.227600,4.007700C115.972600,18.359700,116.124600,32.719700,116.124600,47.788700C131.062600,29.315700,155.436600,34.086700,165.246600,44.732700C176.686600,57.147700,176.738600,77.725700,164.912600,89.959700C154.162600,101.081700,130.606600,104.775700,115.477600,85.991700C115.477600,89.341700,115.369600,92.019700,115.505600,94.686700C115.665600,97.849700,113.763600,97.899700,111.383600,97.944700C108.786600,97.994700,108.276600,96.936700,108.283600,94.536700C108.362600,64.390700,108.405600,34.243700,108.237440,4.098700C108.219600,0.747700,109.725600,0.798700,112.028600,0.928700ZM141.777600,42.883900C127.198600,42.712900,116.257600,52.929900,116.125600,66.837900C115.992600,80.831900,126.768600,91.619900,140.999600,91.740900C154.945600,91.858900,165.856600,81.197900,166.019600,67.294900C166.176600,53.761900,155.533600,43.044900,141.777600,42.883900Z" fill="rgb(44,52,67)" fill-rule="evenodd" stroke="none" stroke-width="1"/><path id="eomii28s07n5" d="M58.331000,35.268200C68.136000,35.458200,76.043000,39.801200,83.089000,47.435200C83.089000,44.067200,83.172000,41.551200,83.060000,39.044200C82.985000,37.367200,83.595000,36.895200,85.258000,36.855200C90.238000,36.735200,90.236000,36.657200,90.236000,41.685200C90.236000,59.257200,90.108000,76.831200,90.345000,94.402200C90.392000,97.922200,88.608000,97.346200,86.496000,97.496200C84.115000,97.664200,82.657000,97.390200,83.029000,94.397200C83.325000,92.019200,83.089000,89.575200,83.089000,86.342200C74.906000,95.494200,65.396000,100.175200,53.608000,99.031200C45.493000,98.243200,38.319000,95.256200,32.797000,89.032200C21.913000,76.764200,21.881000,57.620200,32.981000,45.247200C39.668000,37.794200,48.499000,35.077200,58.331000,35.268200ZM57.453200,42.883240C43.000200,42.930400,32.644200,53.159400,32.708900,67.327400C32.772200,81.321400,43.473200,91.796400,57.665200,91.758500C71.807200,91.720400,82.269200,81.133400,82.166200,66.964400C82.063200,52.886400,71.751200,42.837400,57.453200,42.883240Z" fill="rgb(44,52,67)" fill-rule="evenodd" stroke="none" stroke-width="1"/><path id="eomii28s07n6" d="M265.925400,35.258390C284.474400,35.270400,298.569400,49.114400,298.579410,67.333400C298.590400,85.356400,284.240400,99.316400,265.714400,99.305410C246.940400,99.294400,232.696400,85.377400,232.772100,67.121400C232.848400,48.747400,246.896400,35.246400,265.925400,35.258390ZM265.769300,42.883560C251.257300,42.929700,240.859300,53.060700,240.888240,67.123700C240.918300,81.304700,251.598300,91.828700,265.889300,91.762020C279.752300,91.694700,290.457300,81.063700,290.502440,67.319700C290.547300,53.272700,279.987300,42.838700,265.769300,42.883560Z" fill="rgb(44,52,67)" fill-rule="evenodd" stroke="none" stroke-width="1"/><path id="eomii28s07n7" d="M344.402900,35.147900C361.445900,35.624900,376.581900,49.339900,375.938900,68.658900C375.357900,86.116900,361.069900,99.448900,342.169900,99.304900C324.258900,99.169900,310.114900,84.891900,310.237900,67.073900C310.164900,48.273900,325.863900,34.629900,344.402900,35.147900ZM343.198900,42.883380C328.834900,42.867400,318.104900,53.311400,318.257900,67.160400C318.412900,81.316400,329.135900,91.796400,343.422900,91.759500C357.249900,91.724400,367.892900,81.116400,367.987900,67.279400C368.083900,53.287400,357.526900,42.899400,343.198900,42.883380Z" fill="rgb(44,52,67)" fill-rule="evenodd" stroke="none" stroke-width="1"/><path id="eomii28s07n8" d="M191.283600,46.221200C191.311600,44.443200,190.814600,43.761200,188.943600,43.846200L179.654600,43.943200C176.393600,44.236200,176.677600,42.025200,176.517600,40.106200C176.327600,37.833200,177.115600,36.479200,179.787600,36.653200L188.113600,36.751200C190.800600,37.013200,191.278600,35.911200,191.157600,33.558200C190.976600,30.052200,191.225600,26.526200,191.065600,23.019200C190.976600,21.047200,191.580600,20.497200,193.559600,20.496200C199.180600,20.493200,199.180600,20.396200,199.180600,25.967200C199.180600,28.737200,199.285600,31.511200,199.144600,34.273200C199.046600,36.165200,199.798600,36.595200,201.559600,36.572200L221.430600,36.455200C224.947600,36.305200,224.126600,38.424200,224.213600,40.322200C224.305600,42.313200,224.556600,43.950200,221.425600,43.814200L201.876600,43.693200C200.079600,43.667200,199.240600,43.891200,199.265600,46.044200C199.384600,56.902200,199.228600,67.763200,199.349600,78.621200C199.454600,88.124200,205.540600,93.160200,215.102600,91.896200C217.002600,91.645200,218.888600,91.269200,220.793600,91.077200C222.041600,90.951200,223.888600,89.451200,224.222600,92.113200C224.506600,94.375200,225.288600,97.118200,222.007600,97.858200C219.007600,98.535200,215.905600,99.029200,212.838600,99.096200C200.779600,99.362200,191.664600,94.818200,191.272600,79.769200C191.131600,74.341200,191.250600,68.907200,191.249600,63.475200C191.249600,57.723200,191.191600,51.971200,191.283600,46.221200Z" fill="rgb(44,52,67)" fill-rule="evenodd" stroke="none" stroke-width="1"/><path id="eomii28s07n9" d="M8.326800,49.222300C8.326800,64.348300,8.270800,79.474300,8.383800,94.600300C8.401800,97.078300,7.706800,98.018300,5.194800,98.030620C2.788800,98.041300,0.880800,97.781300,0.723800,94.858300C0.672800,93.902300,0.675800,92.942300,0.675800,91.984300C0.673800,63.542300,0.673800,35.101300,0.673800,6.659300C0.673800,5.913300,0.631800,5.164300,0.686800,4.423300C0.844800,2.315300,1.092800,0.148300,4.027800,0.495300C6.338800,0.770300,8.534800,0.624300,8.453800,4.485300C8.140800,19.392300,8.326800,34.309300,8.326800,49.222300" fill="rgb(45,53,68)" fill-rule="evenodd" stroke="none" stroke-width="1"/></g></g><g id="eomii28s07n10_tr" transform="translate(79.315131,74.038101) rotate(0)"><g id="eomii28s07n10" transform="translate(-79.315131,-74.038101)"><ellipse id="eomii28s07n11" rx="58.500000" ry="59" transform="matrix(1 0 0 1 58.50000000000000 59)" fill="rgb(243,99,90)" stroke="rgb(243,99,90)" stroke-width="10"/><ellipse id="eomii28s07n12" rx="58.500000" ry="59" transform="matrix(1 0 0 1 79.50000000000000 91)" fill="rgb(75,188,204)" stroke="rgb(75,188,204)" stroke-width="10"/><path id="eomii28s07n13" d="M79.778146,32C93.600747,32,105.121841,36.169981,115.158497,44.208117C116.240150,48.695201,117,54.447573,117,59.268200C117,91.944356,90.450544,118,57.988271,118C44.165670,118,32.772777,113.655827,22.736122,105.617691C21.654469,101.130607,21,95.986040,21,91.165413C21,58.489258,47.315872,32,79.778146,32Z" fill="rgb(88,85,107)" stroke="rgb(88,85,107)" stroke-width="10"/></g></g></g></svg>
                            </a>
                        </div>
                        <div class="header-search-section">
                            {% include '@CocoricoCore/Frontend/Common/form_search_header.html.twig' %}
                        </div>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse m-0" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav resp-bg">
                            <li>
                                <a href="tel:{{ 'nav.phone_number.link'|trans }}" class="header-phone">
                                    <i class="fa fa-phone fa-lg"></i>
                                    {{ 'nav.phone_number.link'|trans }}
                                </a>
                            </li>

                            {{ render(controller('CocoricoCMSBundle:Frontend/Footer:index',{
                                request: app.request,
                                'links_flag': true
                            })) }}
                            
                            <li>
                                <a href="{{ path('cocorico_page_show', { 'slug': 'header.conseil_info.slug'|trans }) }}">
                                    {{ 'nav.conseil_info.link'|trans }}
                                </a>
                            </li>
                            <li class="hidden">
                                <a href="{{ path('cocorico_page_show', { 'slug': 'header.who_we_are.slug'|trans }) }}">
                                    {{ 'nav.who_we_are.link'|trans }}
                                </a>
                            </li>

                            {{ render(controller('CocoricoCoreBundle:Frontend/Home:headerBlogText', {'request': app.request} )) }}

                            <li>
                                <a href="{{ path('cocorico_contact_new') }}" class="contact">
                                    {{ 'nav.contact_us.link'|trans }}
                                </a>
                            </li>

                            {# Language switcher. #}
                            {{ render(controller('CocoricoCoreBundle:Frontend/Language:switch', {'request': app.request} )) }}

                            {#<li>
                                <a href="{{ path('cocorico_listing_favourite') }}"
                                   tabindex="5">{{ 'nav.favorites.link'|trans }}
                                    <span id="fav-count"></span>
                                </a>
                            </li>#}

                            {# User info #}
                            {%- if app.user is not null and is_granted("IS_AUTHENTICATED_FULLY") -%}
                                <li id="dashboard-dropdown" class="dropdown">
                                    <a id="dashboard-link" class="dropdown-toggle"
                                       href="{{ path('cocorico_user_dashboard_profile_edit_about_me') }}" tabindex="6"
                                       title="My Dashboard" data-toggle="dropdown" role="button" aria-expanded="false">
                                        {{ 'nav.dashboard.link'|trans }} ({{ app.user.firstName | capitalize }})
                                        <span id="nb-unread-msg"></span>
                                        <span class="icon-down-open-mini"></span>
                                    </a>
                                    {% include '@CocoricoCore/Frontend/Common/_nav.html.twig' with {'nav_dashboard_current':''} only %}
                                </li>
                            {%- else -%}
                                <li>
                                    <a href="{{ path('cocorico_user_login') }}" tabindex="6">
                                        {{ 'nav.register.link'|trans }}
                                    </a>
                                </li>
                                {# <li>
                                    <a href="{{ path('cocorico_user_login') }}" tabindex="7">
                                        {{ 'nav.login.link'|trans }}
                                    </a>
                                </li> #}
                            {%- endif -%}

                            {# <li>
                                <a href="https://www.blog.labtoo.com/" tabindex="7"  target="_blank">
                                    {{ 'nav.blog.link'|trans }}
                                </a>
                            </li> #}

                            {# Currency switcher #}
                            <div class="hidden">
                                {% include '@CocoricoCore/Frontend/Common/_currency_switcher.html.twig' only %}
                            </div>
                        </ul>

                        {# New listing link #}
                        {# <a href="{{ path('cocorico_listing_new') }}" class="btn btn-primary navbar-right" tabindex="9">
                            {{ 'nav.listing.new.link'|trans }}
                        </a> #}
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>
    </div>
    {% block sub_header_info %}{% endblock %}
</header>

