{% extends '::base.html.twig' %}

{% if page %}
    {%- block meta_title -%}
        {{ page.metaTitle }}
    {%- endblock -%}

    {%- block meta_description -%}
        {{ page.metaDescription }}
    {%- endblock -%}

    {%- block open_graph_data -%}
        <meta property="og:title" content="{{ page.metaTitle }}"/>
        <meta property="og:description" content="{{ page.metaDescription }}"/>
        <meta property="og:image" content="{{ asset('uploads/pictures/Labtoo_logo.png') }}"/>
    {%- endblock -%}    

{% endif %}


{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}
        {% block main %}
            <h1 class="page-title">
                {{ page.title }}
            </h1>
            <div class="container">
                <div class="row">
                    <div class="min-height loginmid">
                        {% if page %}

                            <div>
                                {{ page.description | raw }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock layout %}

