{% extends '::base.html.twig' %}

{% trans_default_domain 'cocorico_listing' %}

{% set optionBundleEnabled = bundleExist('CocoricoListingOptionBundle') %}
{% set categoryFieldBundleEnabled = bundleExist('CocoricoListingCategoryFieldBundle') %}

{% set listing_translation = listing.translations[app.request.locale] %}
{% set listing_description = listing_translation.description|strip_private_info %}
{% set listing_location = listing.location %}
{% set price = listing.priceDecimal | format_price(app.request.locale, 0) %}
{% set listing_user = listing.user %}

{%- block meta_title -%}
    {{ 'listing.show.meta_title'|trans({}, 'cocorico_meta') ~ " " ~ listing_translation.title ~ " - " ~ cocorico_site_name }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'listing.show.meta_desc'|trans({}, 'cocorico_meta') ~ ' ' ~ listing_description|truncate(160, true) }}
{%- endblock -%}

{%- block open_graph_data -%}
    <meta property="og:title" content="{{ listing_translation.title }}"/>
    <meta property="og:description" content="{{ listing_description|truncate(200, true) }}"/>
    {% if listing.images|length %}
        <meta property="og:image" content="{{ asset(listing.experiment.image | imagine_filter('experiment_large')) }}"/>
        {% else %}
        <meta property="og:image" content="{{ asset('uploads/pictures/Labtoo_logo.png') }}"/>
    {% endif %}
{%- endblock -%}


{% block stylesheets %}
    {{ parent() }}

    {# {% stylesheets
    'css/vendor/fullcalendar.min.css'
    'css/fullcalendar-override.css'

    filter='cssrewrite, ?minifycsscompressor' output='css/compiled/fullcalendar.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %} #}
{% endblock %}



{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% block header %}
            {% embed "@CocoricoCore/Frontend/Common/_header.html.twig" with {
            'header_class': 'header-fixed'} %}
            {% endembed %}
        {% endblock %}

        {% trans_default_domain 'cocorico_listing' %}

        {% block breadcrumbs %}{% endblock %}

        {% block main %}
            {# {{ render(controller('CocoricoCoreBundle:Frontend/ListingSearch:searchForm')) }} #}

            <div class="intro intro-medium search-header search-header-section intro-caption">
                <div class="container">
                    <div class="col-md-12 p-0">
                    {% if app.session.get('listing_search_session') is defined and app.session.get('listing_search_session') %}
                        <a href="{{ path('cocorico_listing_search_new',{'mode':'edit'}) }}">
                            <div class="section-back">
                                <p class="icon-back">
                                    <span class="arrow-left-link"></span>
                                </p>
                                <h1 class="main-title">
                                    {{ listing.experiment.title }}
                                </h1>
                            </div>                        
                        </a>
                    {% else %}
                        <a href="{{ path('cocorico_listing_search_new') }}">
                            <div class="section-back">
                                <p class="icon-back">
                                    <span class="arrow-left-link"></span>
                                </p>
                                <h1 class="main-title">
                                    {{ listing.experiment.title ~ " - " ~ listing_user.name }}
                                </h1>
                            </div> 
                        </a>
                    {% endif %}
                        <p class="breadcrumb-links" style="text-align: left;">
                            {# Main category link #}
                            <span itemscope itemtype="http://schema.org/BreadcrumList">
                            
                                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a href="{{ path('cocorico_listing_search_category', {'category': experiment.category.getSlug()}) }}" itemprop="item">
                                        <span itemprop="name">{{ listing.listingListingCategories[0].category.parent.translations[app.request.locale].name }}</span>
                                    </a>
                                    <meta itemprop="position" content="1">
                                    <img src="{{ asset('images/arrow-dropdown.svg') }}" />
                                </span>
                                {# Sub category link #}
                                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <a href="{{ path('cocorico_listing_search_category', {'category': experiment.category.getSlug()}) }}" itemprop="item">
                                        <span itemprop="name">{{ listing.listingListingCategories[0].category.translations[app.request.locale].name }}</span>
                                    </a>
                                    <meta itemprop="position" content="2">
                                    <img src="{{ asset('images/arrow-dropdown.svg') }}" />
                                </span>
                                <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                    <span itemprop="name" data-id="title">{{ listing.experiment.title }}</span>
                                    <meta itemprop="position" content="3">
                                </span>
                            </span>

                        </p>
                    </div>
                    {% block breadcrumbs %}{% endblock %}
                </div>
            </div>

            <div class="container">
                    <div class="row" itemscope itemtype="http://schema.org/Product">
                        <div id="content" class="col-xs-12 dashboard-search">
                            <div class="view-details-experiment">
                                <!-- listing-container -->
                                <div class="section-one">
                                    <div class="img-section">
                                        <!-- Profile picture & name -->
                                        <div class="profile-aside eq-height">
                                            <div class="gallery-small slideshow">
                                                <div class="slideset" style="height:96px;">
                                                    {% if listing_user.images|length %}
                                                        {% for image in listing_user.images %}
                                                            <div class="slide">
                                                                <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ image.name) | imagine_filter('sidebar_user_profile') }}"
                                                                     alt="{{ listing_user.name }}"/>
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div class="slide">
                                                            <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.IMAGE_DEFAULT) | imagine_filter('sidebar_user_profile') }}"
                                                                 alt="{{ listing_user.name }}"/>
                                                        </div>
                                                    {% endif %}
                                                </div>

                                                <a href="#" class="btn-prev">previous
                                                    <span></span>
                                                </a>

                                                <a href="#" class="btn-next">next
                                                    <span></span>
                                                </a>
                                            </div>
                                            <h2 style="color:#F1574E; font-size: 21px;">{{ listing_user.name }}</h2>
                                        </div>
                                    
                                        </div>

                                        <div class="description-section">

                                            <h2>{{ 'listing.offerer.experience.text'|trans }} :</h2>
                                            <p>{{ listing_translation.informativeDescription|nl2br }}</p>


                                            <ul class="list-meta">
                                                {% if listing_user.diploma is not null %}
                                                    <li>
                                                        <strong>{{ 'listing.user.diploma.text'|trans }} :</strong>
                                                        {{ listing_user.diploma }}
                                                    </li>
                                                {% endif %}

                                                {% if listing_user.researchGate is not null %}
                                                    {% set userResearchGate = listing_user.researchGate %}
                                                    {% if 'http' not in listing_user.researchGate %}
                                                        {% set userResearchGate = 'http://' ~ listing_user.researchGate %}
                                                    {% endif %}
                                                <li>
                                                    <strong>{{ 'listing.user.research.gate.text'|trans }} : </strong>
                                                    <a href="{{ userResearchGate }}" target="_blank">
                                                        {{ listing_user.researchGate }}
                                                    </a>
                                                </li>
                                                {% endif %}

                                                {% if listing_user.site is not null %}
                                                    {% set userSite = listing_user.site %}
                                                    {% if 'http' not in listing_user.site %}
                                                        {% set userSite = 'http://' ~ listing_user.site %}
                                                    {% endif %}
                                                <li>
                                                    <strong>{{ 'listing.user.site.text'|trans }} : </strong>
                                                    <a href="{{ userSite }}" target="_blank">
                                                        {{ listing_user.site }}
                                                    </a>
                                                </li>
                                                {% endif %}

                                                {% if listing_user.certification is not null %}
                                                <li>
                                                    <strong>{{ 'listing.user.certification.text'|trans }} : </strong>

                                                    {{ listing_user.certification }}
                                                </li>
                                                {% endif %}
                                            </ul><!-- /.list-meta -->

                                            {% if url is not defined or url == null %}
                                                {% set url = app.request.uri %}
                                            {% endif %}

                                        </div><!-- /.profile-content -->

                                        <div id="sidebar" class="material-section">
                                            <div class="holder">
                                                {% if listing_search_session.valid(listing) %}
                                                    {{ render(controller('CocoricoCoreBundle:Frontend/BookingPrice:bookingPriceForm', { 'listing': listing })) }}
                                                {% else %}
                                                    <section class="reservation">
                                                        <div class="add-info">
                                                            <strong>{{ 'listing.booking.search_info'|trans({}, 'cocorico_booking') }}</strong>
                                                        </div>
                                                        
                                                        <div class="reservation-form">
                                                            {%- if is_granted("IS_AUTHENTICATED_FULLY") -%}
                                                                <a href="{{ path('cocorico_dashboard_message_new', {'slug': listing.slug}) }}"
                                                                    class="contact-opener btn btn-default no-margin btn-blue" data-toggle="modal"
                                                                    data-target="#modal">
                                                                    {{ 'listing.show.user.contact'|trans }}
                                                                </a>
                                                            {%- else -%}
                                                                <a class="contact-opener btn btn-default no-margin btn-blue"
                                                                    href=" {{ path('cocorico_user_login') }}">
                                                                    {{ 'listing.show.user.contact'|trans }}
                                                                </a>
                                                            {%- endif -%}                            
                                                        </div>
                                                    </section>
                                                {% endif %}
                                            </div>
                                        </div>

                                    </div><!-- /.profile -->
                                </div>
                                <div class="section-two">
                                    <div class="deliverables-section">
                                        <h2>{{ 'listing.admin.experience.text'|trans }}</h2>
                                        <p>{{ listing_translation.description|nl2br }}</p>
                                    </div>
                                    <div class="deliverables-section">
                                        <h2>{{ 'listing.user.description.text'|trans }} :</h2>
                                        <p>{{ (listing_user.translations[app.request.locale].description is defined) ? listing_user.translations[app.request.locale].description : '-' }}</p>
                                    </div>
                                </div><!-- /.listing-details -->


                                <div class="section-three">
                                    <div class="answers-section">
                                        <h2>{{ 'listing.show.map'|trans }} :</h2>

                                        <div class="maparea">
                                            <div class=" map-holder">
                                                <div class="map-canvas listing-show" id="map-listing" data-zoom="14"
                                                        data-overlays="inc/markers2.json"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.map-box -->
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        {% endblock %}
        {% block modal %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_modal.html.twig' only %}
        {% endblock %}
    {% endembed %}
{% endblock layout %}




{% block javascripts %}
    {{ parent() }}

    {#Calendar #}
    {% javascripts
    'js/vendor/fullcalendar/fullcalendar.min.js'
    'js/vendor/fullcalendar/lang-all.js'

    filter="jsqueeze" output='js/compiled/calendar.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% include '@CocoricoCore/Frontend/Listing/js/_calendar_js.html.twig' with {
    'calendar_elt': '#fc-calendar',
    'listing_id': listing.id,
    'default_price': price,
    'edit_mode': false,
    'edit_type': false
    } only %}


    {#Map and Geocoding#}
    {% set coordinate = listing.location.coordinate %}

    {% include '@CocoricoCore/Frontend/ListingResult/js/_geocoding_js.html.twig' with {
    'map_elt': '#map-listing',
    'auto_complete_elt': '#location',
    'default_lat': coordinate.lat,
    'default_lng': coordinate.lng,
    'default_zoom': 16,
    'display_marker': displayMarker
    } only %}

    <script>
        $(function () {
            //Map
            {% if not displayMarker %}
            var circle = new google.maps.Circle({
                map: map,
                center: latlng,
                strokeColor: '#0000EE',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#0000EE',
                fillOpacity: 0.1,
                radius: 200
            });
            {% endif %}

            //Compute booking price when page load if booking dates exists
            submitDatePickerAjaxForm(function () {
                jcf.replaceAll("#booking-price-form");
            });

            // Set default favourites in the listing
            setDefaultFavourites();

            // Categories
            initMultiSelect(
                    '#categories',
                    '{{ "multiselect.all_selected"|trans({}, "cocorico") }}',
                    '{{ "multiselect.none_selected"|trans({}, "cocorico") }}',
                    '{{ "multiselect.num_selected"|trans({}, "cocorico") }}'
            );
        });
    </script>

    {#Get geocoding information and persist it #}
    {% include '@CocoricoGeo/Common/js/_geocode_js.html.twig' with {
    'coordinate': coordinate
    } only %}
{% endblock %}



{% block markup_jsonld %}
    {{ parent() }}

    {% include 'CocoricoSeoBundle:Frontend:Listing/_show_markup.jsonld.twig' ignore missing with {
    'listing': listing,
    'listing_translation': listing_translation,
    'listing_user': listing_user,
    'listing_location': listing_location,
    'reviews': reviews
    } only %}
{% endblock %}