{% extends '::base.html.twig' %}

{%- block meta_title -%}
    {{ 'home.meta_title'|trans({}, 'cocorico_meta') ~ " - " ~ cocorico_site_name }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'home.meta_desc'|trans({}, 'cocorico_meta') }}
{%- endblock -%}

{%- block open_graph_data -%}
    <meta property="og:title" content="{{ 'home.meta_title'|trans({}, 'cocorico_meta') }}"/>
    <meta property="og:description" content="{{ 'home.meta_desc'|trans({}, 'cocorico_meta') }}"/>
    <meta property="og:image" content="{{ asset('uploads/pictures/Labtoo_logo.png') }}"/>
{%- endblock -%}    

{% block theme %}home-page{% endblock %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_home' %}

        {% block header %}
            {% embed "@CocoricoCore/Frontend/Common/_header.html.twig" with {
            'header_class': 'header-fixed'} %}
            {% endembed %}
        {% endblock %}

        {% block main %}

            <!-- Section 1 -->
            <div class="container home-section1" id="{{ 'home.section1.id'|trans }}">
                <div class="home-section1-content">
                    <div class="home-main-title">
                         {{ 'home.maintitle'|trans }}
                    </div>
                    <h1 class="home-h1-subtilte">
                        {{ 'home.h1'|trans }}
                    </h1>
                </div>
                <!-- call for action -->
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-6 ">
                        <a href="{{ path('cocorico_page_show', { 'slug': 'home.button1.slug'|trans }) }}" class="home-section1-buttons">
                            <div class="home-section1-button">
                                {{ 'home.section1.button1.text'|trans }}
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <a href="{{ path('cocorico_page_show', { 'slug': 'home.button2.slug'|trans }) }}" class="home-section1-buttons">
                            <div class="home-section1-button">
                                {{ 'home.section1.button2.text'|trans }}
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Section 2 -->
            <div class="container home-section2" id="{{ 'home.section2.id'|trans }}">
                <!-- image visible all devices -->
                <div class="col-xs-12 col-sm-5">
                    <img src="{{asset('/uploads/pictures/home/section2.png')}}" alt="{{ 'home.section2.img.alt'|trans }}" class="home-section2-img">
                </div>
                <!-- text -->
                <div class="col-xs-12 col-sm-7 home-section2-content">
                    {{ 'home.section2.text'|trans }}
                </div>
            </div>

            <!-- Section 3 -->
            <div class="container home-section3" id="{{ 'home.section3.id'|trans }}">
                <!-- text -->
                <div class="col-xs-12 col-sm-7 home-section3-content">
                    {{ 'home.section3.text'|trans }}
                </div>
                <!-- image visible all devices -->
                <div class="col-xs-12 col-sm-5">
                    <img src="{{asset('/uploads/pictures/home/section3.png')}}" alt="{{ 'home.section3.img.alt'|trans }}" class="home-section3-img">
                </div>
            </div>


            <!-- Section 4 -->
            <div class="container home-section4" id="{{ 'home.section4.id'|trans }}">
                <!-- title -->
                <h2 class="home-section4-title">
                    {{ 'home.section4.title'|trans }}
                </h2>
                <!-- body -->
                <div class="home-section4-body">
                    {{ 'home.section4.body'|trans }}
                </div>
                <!-- 3 buttons + hover en negatif -->
                <div class="col-xs-12">
                    <div class="col-xs-12 col-sm-4">
                        <a href="{{ path('cocorico_page_show', { 'slug': 'home.section4.button1.slug'|trans }) }}" class="home-section4-button">
                            <div class="home-section4-buttons home-section4-button1">
                                {{ 'home.section4.button1.text'|trans }}
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <a href="{{ path('cocorico_page_show', { 'slug': 'home.section4.button2.slug'|trans }) }}" class="home-section4-button">
                            <div class="home-section4-buttons home-section4-button2">
                                {{ 'home.section4.button2.text'|trans }}
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <a href="{{ path('cocorico_page_show', { 'slug': 'home.section4.button3.slug'|trans }) }}" class="home-section4-button">
                            <div class="home-section4-buttons home-section4-button3">
                                {{ 'home.section4.button3.text'|trans }}
                            </div>
                        </a>
                    </div>
                </div>
                <div class="home-section4-link">
                    <a href="{{ path('cocorico_listing_search_new') }}" class="home-section4">
                        {{ 'home.section4.button'|trans }}
                    </a>
                </div>
            </div>

            <!-- search bar -->
            <!--

            -->

            <!-- Section 5 -->
            <div class="container home-section5" id="{{ 'home.section5.id'|trans }}">
                <!-- title -->
                <h2 class="home-section5-title">
                    {{ 'home.section5.title'|trans }}
                </h2>
                <!-- body -->
                <div class="home-section5-body">
                    {{ 'home.section5.body'|trans }}
                </div>
                <!-- liste 4 points -->
                <div class="home-section5-details">
                    <span class="home-section5-bullet">&#10122;</span>
                    <br>
                    {{ 'home.section5.item1'|trans }}
                    <br>
                    <span class="home-section5-bullet">&#10123;</span>
                    <br>
                    {{ 'home.section5.item2'|trans }}
                    <br>
                    <span class="home-section5-bullet">&#10124;</span>
                    <br>
                    {{ 'home.section5.item3'|trans }}
                    <br>
                    <span class="home-section5-bullet">&#10125;</span>
                    <br>
                    {{ 'home.section5.item4'|trans }}
                    <br>
                </div>
            </div>

            <!-- Section 6 -->
            <div class="container home-section6" id="{{ 'home.section6.id'|trans }}">
                <!-- title -->
                <h2 class="home-section6-title">
                    {{ 'home.section6.title'|trans }}
                </h2>
                <!-- body -->
                <div class="home-section6-body">
                    {{ 'home.section6.body'|trans }}
                </div>

            </div>

            <!-- Section 7 -->
            <div class="container home-section7" id="{{ 'home.section7.id'|trans }}">
                <!-- title -->
                <h2 class="home-section7-title">
                    {{ 'home.section7.title'|trans }}
                </h2>
                <!-- body -->
                <div class="home-section7-body">
                    {{ 'home.section7.body'|trans }}
                </div>
                <div class="home-section7-link">
                    <a href="{{ path('cocorico_page_show', { 'slug': 'home.section7.button.slug'|trans }) }}" class="home-section7">
                        {{ 'home.section7.button'|trans }}
                    </a>
                </div>
            </div>

            <!-- Section 8 -->
            <div class="container home-section8" id="{{ 'home.section8.id'|trans }}">
                <!-- title -->
                <h2 class="home-section8-title">
                    {{ 'home.section8.title'|trans }}
                </h2>
                <!-- body -->
                <div class="home-section8-body">
                    {{ 'home.section8.body'|trans }}
                </div>
                <div class="home-section8-button">
                    <a href="{{ path('cocorico_user_login') }}" class="btn btn-home btn-red">
                    {{ 'home.section8.button'|trans }}
                    </a>
                </div>
            </div>

        {% endblock %}

        {% block modal %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_modal.html.twig' only %}
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {#Typehead #}
    {% include '@CocoricoExperiment/Frontend/Home/js/_typeahead_js.html.twig' %}

    {#Geocoding #}
    {% include '@CocoricoCore/Frontend/ListingResult/js/_geocoding_js.html.twig' with {
    'map_elt': '',
    'auto_complete_elt': '#location'
    } only %}

    <script>
        // Categories
        $(function () {

            // Set default favourites in the listing
            setDefaultFavourites();

            initMultiSelect(
                    '#categories',
                    '{{ "multiselect.all_selected"|trans({}, "cocorico") }}',
                    '{{ "multiselect.none_selected"|trans({}, "cocorico") }}',
                    '{{ "multiselect.num_selected"|trans({}, "cocorico") }}'
            );
        });

        /*jQuery(document).ready(function () {
            window.onscroll = function() {myFunction()};
            var search = document.getElementById("search_sticky");
            var sticky = search.offsetTop;

            function myFunction() {
              if (window.pageYOffset > sticky) {
                search.classList.add("sticky");
              } else {
                search.classList.remove("sticky");
              }
            }
        });*/
    </script>
{% endblock %}

{% block markup_jsonld %}
    {{ parent() }}

    {% include 'CocoricoSeoBundle:Frontend:Home/_index_markup.jsonld.twig' ignore missing with {
    'listings': listings
    } only %}
{% endblock %}