{% extends '::base.html.twig' %}

{% trans_default_domain 'cocorico_listing' %}

{% set location = listing_search_request.location %}

{# SEO #}
{% set seo_title = 'listing.search.result.title'|trans({'%listing_search_request%': location.address }) %}
{% set seo_desc = '' %}
{% set seo_meta_tile = 'listing.search.result.meta_title'|trans({'%listing_search_request%': location.address }, 'cocorico_meta') ~ " - " ~ cocorico_site_name %}
{% set seo_meta_desc = 'listing.search.result.meta_desc'|trans({'%nb_results%': nb_listings}, 'cocorico_meta') %}

{% if seo_content|default(null) %}
    {% set seo_title = seo_content.title %}
    {% set seo_desc = seo_content.description %}
    {% set seo_meta_tile = seo_content.metaTitle %}
    {% set seo_meta_desc = seo_content.metaDescription %}
{% endif %}

{%- block meta_title -%}
    {{ seo_meta_tile|raw }}
{%- endblock -%}

{%- block meta_description -%}
    {{ seo_meta_desc|raw }}
{%- endblock -%}
{# END SEO #}

{% block stylesheets %}
    {{ parent() }}

    <style>
        {#map-canvas {
            width: {{ listing_search_map_w }}px;
            height: {{ listing_search_map_h }}px;
        #}
    </style>
{% endblock %}


{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' with {
       'main_class': 'main_profile'} %}
        {% trans_default_domain 'cocorico_listing' %}
        {% block breadcrumbs %}
            <!-- breadcrumbs -->
            {# {{ render(controller('CocoricoBreadcrumbBundle:Breadcrumbs:index',{
                request: app.request
            })) }} #}
        {% endblock %}

        {% block main %}

            <div class="intro intro-medium search-header search-header-section">
                <div class="intro-caption">
                    <div class="container">
                        <div class="col-md-12 p-0">
                            <a href="{{ path('cocorico_listing_search_experiment', { 'category': listing_search_session.listingCategory.getSlug(), 'experiment': listing_search_session.experiment.getSlug() }) }}" class="m-0">
                                <div class="section-back">
                                    <p class="icon-back">
                                        <span class="arrow-left-link"></span>
                                    </p>
                                    <h1 class="main-title">
                                        {{ 'search-page-back-link-title'|trans }}
                                    </h1>
                                </div>
                            </a>
                            <p class="breadcrumb-links">
                                {# Main category link #}
                                <span itemscope itemtype="http://schema.org/BreadcrumList">
                                    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                        <a href="{{ path('cocorico_listing_search_category', {'category': listing_search_session.listingCategory.getSlug()}) }}" itemprop="item">
                                            <span itemprop="name">{{ listing_search_session.listingCategory.parent.translations[app.request.locale].name }}</span>
                                        </a>
                                        <meta itemprop="position" content="1">
                                        <img src="{{ asset('images/arrow-dropdown.svg') }}" />
                                    </span>
                                    {# Sub category link #}
                                    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                        <a href="{{ path('cocorico_listing_search_category', {'category': listing_search_session.listingCategory.getSlug()}) }}" itemprop="item">
                                            <span itemprop="name">{{ listing_search_session.listingCategory.translations[app.request.locale].name }}</span>
                                        </a>
                                        <meta itemprop="position" content="2">
                                        <img src="{{ asset('images/arrow-dropdown.svg') }}" />
                                    </span>
                                    {# Experiment page link #}
                                    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                        <a href="{{ path('cocorico_listing_search_experiment', { 'category': listing_search_session.listingCategory.getSlug(), 'experiment': listing_search_session.experiment.getSlug() }) }}" class="m-0" itemprop="item">
                                            <span itemprop="name">{{ listing_search_session.experiment.title }}</span>
                                        </a>
                                        <meta itemprop="position" content="3">
                                        <img src="{{ asset('images/arrow-dropdown.svg') }}" />
                                    </span>
                                    <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                        <span itemprop="name" data-id="title">{{ 'listing.search.result.results'|trans({'%nb_results%': nb_listings}) }}</span>
                                        <meta itemprop="position" content="4">
                                    </span>
                                </span>
                                
                            </p>
                        </div>
                    </div><!-- /.container -->
                </div><!-- /.intro-caption -->
            </div><!-- /.intro intro-xsmall -->

            {#search form with filters#}
            {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}

            <div class="container">
            <!-- two-columns -->
            <div class="twocolumns row search-result-page">
                <!-- postarea -->
                <section class="listing-area col-xs-12 col-md-8 {% if listings|length <= 0 %} border-0{% endif %}">
                    <!-- form-category -->
                    {# <form action="#" class="form-category col-xs-12"> #}
                    {{ form_start(form, {'attr': {'class': 'form-category col-xs-12 p-0'}}) }}
                        <fieldset class="hidden">
                            <legend class="hidden">form-category</legend>

                            <div class="sub-holder">
                                {{ form_rest(form.location) }}
                                <!-- range-area -->
                                <div class="range-area">
                                    <!-- range-holder -->
                                    {{ form_widget(form.duration_range) }}
                                </div>
                                <!-- selection-holder -->
                                <div class="selection-holder">
                                    <div class="select-holder">
                                        {{ form_widget(form.sort_by) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-box">
                                <div class="form-box-foot">
                                    <h6>{{ 'listing.search.expert.text'|trans }} :</h6>
                                </div><!-- /.form-box-foot -->
                            </div><!-- /.form-box -->
                        </fieldset>
                    {# </form> #}
                    {{ form_end(form) }}


                    {#TO NOT DELETE#}
                    <div data-id="seo-desc" class="hidden">
                        {{ seo_desc|raw }}
                    </div>

                    <div class="listing-holder row m-0">
                        {% include '@CocoricoCore/Frontend/ListingResult/_result_listings.html.twig'  with {
                        'listings': listings,
                        'nb_listings': nb_listings
                        } only %}
                        <!-- post -->

                    </div>
                    <div class="pagination-section">
                        {% include '@CocoricoCore/Frontend/Common/_pagination.html.twig' with {
                        'pagination': pagination
                        } only %}
                    </div>
                </section>
                <!-- maparea -->
                <div class="maparea col-xs-12 col-md-4">
                    <div class="checkbox search-on-drag-cb-wrapper hidden">
                        <input type="checkbox" name="search-on-drag" id="search-on-drag">
                        <label class="form-label" for="search-on-drag">
                            {{ 'search-on-map-drag'|trans }}
                        </label>
                    </div>
                    <div class="map-holder">
                        <div id="map-canvas" class="map-canvas" data-zoom="14"></div>
                        {% include '@CocoricoCore/Frontend/ListingResult/_marker.html.twig'  with {
                        'markers': markers,
                        } only %}
                    </div>
                </div>
            </div>
        </div>

            {# {{ form_start(form, {'attr': {'class': 'form-category alt col-xs-12'}}) }}

            {% include '@CocoricoCore/Frontend/Common/form_search_fields.html.twig' with {
            'form': form
            } only %}

            {% include '@CocoricoCore/Frontend/ListingResult/form_search_filters.html.twig' with {
            'form': form
            } only %}

            {{ form_end(form) }} #}
            {#end search form with filters#}

            {# <h1 data-id="result-title">
                <span data-id="title">{{ seo_title }}</span>
                <small data-id="nb-result">
                    {{ 'listing.search.result.results'|trans({'%nb_results%': nb_listings}) }}
                </small>

                {% if bundleExist('CocoricoListingAlertBundle') %}
                    <div class="listing-alert">
                        <a href="{{ path('cocorico_listing_alert_new') }}" data-id="listing-alert"
                           class="btn btn-default">
                            {{ "listing.search.result.alert.link"|trans }}
                        </a>
                    </div>
                    <div data-id="listing-alert-dialog"></div>
                {% endif %}
            </h1> #}
            {#TO NOT DELETE#}
            {# <div data-id="seo-desc">
                {{ seo_desc|raw }}
            </div> #}

            <!-- two-columns -->
            {# <div class="twocolumns row">
                <!-- maparea -->
                <div class="maparea col-xs-12 col-sm-4">
                    <div class="maparea">
                        <div class="checkbox search-on-drag-cb-wrapper">
                            <input type="checkbox" name="search-on-drag" id="search-on-drag">
                            <label class="form-label" for="search-on-drag">
                                {{ 'search-on-map-drag'|trans }}
                            </label>
                        </div>
                        <div class="map-holder">
                            <div id="map-canvas"></div>
                            {% include '@CocoricoCore/Frontend/ListingResult/_marker.html.twig'  with {
                            'markers': markers,
                            } only %}
                        </div>
                    </div>
                </div>

                <!-- postarea -->
                <section class="listing-area col-xs-12 col-sm-8">
                    <div class="listing-holder row">
                        {% include '@CocoricoCore/Frontend/ListingResult/_result_listings.html.twig'  with {
                        'listings': listings,
                        'nb_listings': nb_listings
                        } only %}
                    </div>
                    {% include '@CocoricoCore/Frontend/Common/_pagination.html.twig' with {
                    'pagination': pagination
                    } only %}

                </section>
            </div> #}

            {#TO NOT DELETE#}
            {# <div data-id="seo-desc-moved"></div> #}
        {% endblock %}

        {% block modal %}
            {% include 'CocoricoCoreBundle:Frontend/Common:_modal.html.twig' only %}
        {% endblock %}

        {#{% block footer %}#}
        {#{{ parent() }}#}
        {#{% endblock %}#}

    {% endembed %}

{% endblock layout %}


{% block javascripts %}
    {{ parent() }}

    {#Extend search area if not enough results and if location search type is not done by distance #}
    {% set extendSearch = nb_listings < listingSearchMinResult and listingSearchLocationType|default('viewport') != 'distance' %}

    {#Geocoding #}
    {% include '@CocoricoCore/Frontend/ListingResult/js/_geocoding_js.html.twig' with {
    'map_elt': '#map-canvas',
    'auto_complete_elt': '#location_address',
    'default_lat': location.lat,
    'default_lng': location.lng,
    'extend_search': extendSearch,
    'street_view_control': 'false',
    'fullscreen_control': 'false',
    'zoom_control': 'false',
    'map_type_control': 'false',
    } only %}

    {#Extend search call#}
    {% set parentLocation, modalMessage = '', '' %}
    {% if extendSearch %}
        {% set parentLocation = location.getParentLocation() %}
        {% set modalMessage = 'cocorico.search.extended.warning %location%'|trans({'%location%': parentLocation.address  }, 'cocorico') %}
        <script>
            $(function () {
                var parentLocation = '{{ parentLocation|json_encode( constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_HEX_APOS') )|e('js') }}';
                parentLocation = $.parseJSON(parentLocation);
                extendSearchLocationFunc(parentLocation.address, parentLocation.type, '#modal', '{{ modalMessage }}');
            });
        </script>
    {% endif %}

    <script>
        $(function () {
            //Refresh map on load
            refreshMapFunc('{{location.viewport }}', '{{ location.lat }}', '{{ location.lng }}');

            $(window).on('load resize', function () {
                setTimeout(function (){
                    google.maps.event.trigger(map, "resize");
                }, 50);

                $('.listing-post .box-title').css('height','');
                $('.listing-post .box-description').css('height','');
                setTimeout(function () {
                    listingPostDivHeightSet();
                }, 100);
            });

            //Set listings markers on load through data-markers attribute
            setMarkersFunc($("span#data-markers").data("markers"));

            // Set default favourites in the listing
            setDefaultFavourites();

            // Categories
            initMultiSelect(
                    '#categories',
                    '{{ "multiselect.all_selected"|trans({}, "cocorico") }}',
                    '{{ "multiselect.none_selected"|trans({}, "cocorico") }}',
                    '{{ "multiselect.num_selected"|trans({}, "cocorico") }}'
            );

            $(".datepicker").datepicker({
                dateFormat: "dd/mm/yy"
            });

            //Listing alert (See form_search.html.twig, common.js)
            var $dialog = $("div[data-id=listing-alert-dialog]").initDialogForm(400);

            $("a[data-id=listing-alert]").on('click', function (e) {
                e.preventDefault();
                $dialog.openDialog($(this).attr("href"), "");
                return false;
            });

            //Move seo desc to bottom
            $("[data-id=seo-desc]").appendTo("[data-id=seo-desc-moved]");

            //Select change submit the form
            $("select#sort_by").change(function (e) {
                $(this).closest('form').submit();
            });
            $(".ui-slider").on("slidestop", function (event, ui) {
                $(this).closest('form').submit();
            });

            listingPostDivHeightSet();
        });
        function listingPostDivHeightSet()
        {
            var highestTitle = 0;
            var highestDescription = 0;
            $('.listing-post').each(function(){

                $('.box-title', this).each(function(){
                    // If this title is higher than the cached highest then store it
                    if($(this).height() > highestTitle) {
                        highestTitle = $(this).height();
                    }
                });

                $('.box-description', this).each(function(){
                    // If this description is higher than the cached highest then store it
                    if($(this).height() > highestDescription) {
                        highestDescription = $(this).height();
                    }
                });
            });
            $('.box-title').height(highestTitle);
            $('.box-description').height(highestDescription);
        }
    </script>
{% endblock %}



{% block markup_jsonld %}
    {{ parent() }}

    {% include 'CocoricoSeoBundle:Frontend:ListingResult/_result_markup.jsonld.twig' ignore missing with {
    'listings': listings
    } only %}
{% endblock %}