{% extends '::base.html.twig' %}

{% trans_default_domain 'cocorico_listing' %}

{% set base_title = 'listing.new.meta_title'|trans({}, 'cocorico_meta') ~ " - " ~ cocorico_site_name %}

{% if search_fragment is not defined %}
    {% set search_fragment = '' %}
{% endif %}

{%- block meta_title -%}
    {{ search_fragment ~ ' - ' ~ base_title }}
{%- endblock -%}

{%- block meta_description -%}
    {% if type is defined %}
        {% if type == 'category' %}
            {{ 'listing.search.category.meta_desc'|trans({
                '%search_fragment%': search_fragment
            }, 'cocorico_meta') }}
        {% elseif type == 'experiment' %}
            {{ 'listing.search.experiment.meta_desc'|trans({
                '%search_fragment%': search_fragment
            }, 'cocorico_meta') }}
        {% endif %}
    {% else %}
        {{ 'listing.new.meta_desc'|trans({
            '%search_fragment%': search_fragment
        }, 'cocorico_meta') }}
    {% endif %}


{%- endblock -%}

{% block stylesheets %}
    {{ parent() }}

    <style>
        @media screen and (min-width: 1280px) {
            .main_profile {
                margin-top: 95px !important;
            }
        }
    </style>
{% endblock %}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' with {
       'main_class': 'main_profile'} %}

        {% trans_default_domain 'cocorico_listing' %}

        {% block breadcrumbs %}{% endblock %}

        {% block main %}
            <div class="intro intro-medium" style="background-image: url({{ asset('images/intro-bg.jpg') }});">
                <div class="intro-caption">
                    <div class="container">
                        <h1>
                            <small>{{ 'launching.search.title'|trans }}</small>
                            <span>{{ 'launching.search.sub.title'|trans }}</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        {{ form_start(form, {'attr':{'class': 'listing-section'}}) }}
                        <fieldset>
                            <legend class="hidden">listing-section</legend>
                            {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
                            {% include '@CocoricoExperiment/Frontend/ListingCategory/selector.html.twig' %}
                            {% include '@CocoricoExperiment/Frontend/Experiment/selector.html.twig' %}
                            {% include '@CocoricoExperiment/Frontend/Experiment/details_asker.html.twig' %}
                            <div id="listing-search-submit" class="hidden">
                                <div class="btns-area">
                                    <input type="submit" class="btn btn-red btn-small form-btn"
                                           value="{{ 'listing.search.new.save'|trans }}">
                                </div>
                            </div>
                            <div id="loader" class="text-center" style="display: none;">
                                <i class="fa fa-2x fa-refresh fa-spin"></i>
                            </div>
                        </fieldset>
                        {{ form_widget(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}
                    </div>
                </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}


{% block javascripts %}
    {{ parent() }}

    {% include '@CocoricoExperiment/Frontend/ListingSearch/js/_new_js.html.twig' with {
        'base_title': base_title
    } %}

    {#Geocoding #}
    {% include '@CocoricoCore/Frontend/Listing/js/_geocoding_js.html.twig' with {
    'map_elt': '#map-listing',
    'marker_draggable': true
    } only %}

    <script>
        $(function () {
            {#Currency conversion#}
            currencyConversionHandler('#convert_amount_one', '#convert_amount_two', '#convert_currency_two');

            //Disable submit button on click
            $("[type=submit]").click(function (e) {
                $(this).prop('disabled', true);
                $(this).closest('form').submit();
            });
        });
    </script>

{% endblock %}
