{% trans_default_domain 'cocorico_balance' %}

<aside class="tabs-aside">
    <nav class="tabset-holder">
        <a href="#" class="opener">
            <span class="hidden">opener</span>
            <i class="icon-down-open-mini"></i></a>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="{{ nav_side_dashboard_current == "balance_view" ? 'active' : '' }}">
                <a href="{{ path('cocorico_balance_dashboard_balance_view') }}" aria-controls="balance_view"
                   role="tab"
                   data-text="{{ 'nav.balance.show.link'|trans }}">
                    {{ 'nav.balance.show.link'|trans }}
                </a>
            </li>
            <li role="presentation" class="{{ nav_side_dashboard_current == "balance_recover" ? 'active' : '' }}">
                <a href="{{ path('cocorico_balance_dashboard_balance_recover') }}" aria-controls="balance_recover"
                   role="tab" data-text="{{ 'nav.balance.recover.link'|trans }}">
                    {{ 'nav.balance.recover.link'|trans }}
                </a>
            </li>
            <li role="presentation" class="{{ nav_side_dashboard_current == "balance_credit" ? 'active' : '' }}">
                <a href="{{ path('cocorico_balance_dashboard_balance_credit') }}" aria-controls="balance_credit"
                   role="tab" data-text="{{ 'nav.balance.credit.link'|trans }}">
                    {{ 'nav.balance.credit.link'|trans }}
                </a>
            </li>
        </ul>
    </nav>
</aside>
