{% extends '@CocoricoBalance/Dashboard/Balance/layout.html.twig' %}
{% trans_default_domain 'cocorico_balance' %}

{% block nav_side_dashboard -%}
    {% set nav_side_dashboard_current = 'balance_credit' %}
    {{ parent() }}
{%- endblock %}

{% block content_dashboard -%}
    <fieldset>
        <legend class="hidden">legend</legend>
        <div class="tab-content credit-table">
            <div id="credit-balance" class="tab-pane active" role="tabpanel">
                <h6>{{ 'credit_card.head.title'|trans }}</h6>
                {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
                <div class="balance-header">
                    {{ 'balance.label'|trans }} {{ app.user.amountBalanceDecimal|format_price(app.request.locale) }}
                    <br>
                    {{ 'amount_to_credit'|trans }} {{ balanceMovement.amountDecimal|format_price(app.request.locale) }}
                </div>
                <div class="balance-credit-card-form">
                    {% include '@CocoricoMangoPay/Frontend/BookingPayment/form_card.html.twig' %}
                    <div class="text-center">
                        <button data-id="submit-payment" href="javascript:void(0)" type="submit" class="btn btn-red">{{ 'credit_card.submit'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
{%- endblock %}

{% block javascripts -%}
    {{ parent() }}
    {% include '@CocoricoMangoPay/Frontend/BookingPayment/js/_card_js.html.twig' %}
{%- endblock %}
