{% extends '@CocoricoBalance/Dashboard/Balance/layout.html.twig' %}
{% trans_default_domain 'cocorico_balance' %}

{% block nav_side_dashboard -%}
    {% set nav_side_dashboard_current = 'balance_view' %}
    {{ parent() }}
{%- endblock %}

{% block content_dashboard -%}
    <fieldset>
        <legend class="hidden">legend</legend>
        <div class="tab-content credit-table">
            <h6>{{ 'balance.head.title'|trans }}</h6>
            {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
            <div id="credit" class="tab-pane active" role="tabpanel">
                <div class="form-holder columns-holder alt">
                    <div class="balance-header">
                        {{ 'balance.label'|trans }} {{ app.user.amountBalanceDecimal|format_price(app.request.locale) }}
                    </div>
                    {% if balanceMovements|length %}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>{{ 'balance.transfer_status.col'|trans }}</th>
                                    <th>{{ 'balance.transfer_type.col'|trans }}</th>
                                    <th>{{ 'balance.transfer_amount.col'|trans }}</th>
                                    <th>{{ 'balance.transfer_date.col'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for balanceMovement in balanceMovements %}
                                <tr>
                                    <td>{{ balanceMovement.statusText|trans }}</td>
                                    <td>{{ balanceMovement.typeText|trans }}</td>
                                    <td>{{ balanceMovement.typePrefix }} {{ balanceMovement.amountDecimal|format_price(app.request.locale) }}</td>
                                    <td>{{ balanceMovement.validatedAt|default(balanceMovement.createdAt)|localizeddate('short', 'none') }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </fieldset>
{%- endblock %}
