{% trans_default_domain 'cocorico_booking' %}

{% set listing = booking.listing %}
{% set listing_translation = listing.translations[app.request.locale] %}
{% set listing_location = listing.location %}
{% set listing_image = listing.images|length ? listing.images[0].name : ListingImageConstants.IMAGE_DEFAULT %}

{% set user = listing.user %}
{% set user_image = user.images %}
{% set user_address = user.getAddresses %}
{% set user_address = (user_address is empty) ? null : user_address[0] %}

<!-- contain sidebar of the page -->
<aside id="sidebar" class="col-xs-12 col-md-4 col-lg-3">
    <div class="holder holder-alt">
        <!-- widget members-list -->
        <section class="members-list">
            <h5>{{ 'booking.new.welcome.expert.msg'|trans }}</h5>

            <div class="members-list-inner">
                <div class="gallery-small slideshow">
                    <div class="slideset">
                        {% if user_image|length %}
                            {% for image in user_image %}
                                <div class="slide">
                                    <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ image.name) | imagine_filter('sidebar_user_profile') }}"
                                         alt="{{ user.name }}"/>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="slide">
                                <img src="{{ (UserImageConstants.IMAGE_FOLDER ~ UserImageConstants.IMAGE_DEFAULT) | imagine_filter('sidebar_user_profile') }}"
                                     alt="{{ user.name }}"/>
                            </div>
                        {% endif %}
                    </div>

                    <a href="#" class="btn-prev">previous
                        <span></span>
                    </a>

                    <a href="#" class="btn-next">next
                        <span></span>
                    </a>
                </div>

                <h4>{{ user.name }}</h4>

                {% if user_address %}
                    <p>
                        {{ user_address.zip }},
                        {{ user_address.address }}
                    </p>
                {% endif %}
            </div><!-- /.members-list-inner -->

            <ul class="list-meta">
                <li>
                    <strong>{{ 'user.profile.subscribe-date.title'|trans({}, 'cocorico_user') }}</strong>
                    <time datetime="{{ user.createdAt|date("Y-m-d") }}">
                        {{ user.createdAt|localizeddate('short', 'none', 'fr') }}
                    </time>
                </li>

                {% if user.diploma is not null %}
                    <li>
                        <strong>{{ 'listing.user.diploma.text'|trans({}, 'cocorico_listing') }} :</strong>
                        {{ user.diploma }}
                    </li>
                {% endif %}

                {% if user.researchGate is not null %}
                    <li>
                        <strong>{{ 'listing.user.research.gate.text'|trans({}, 'cocorico_listing') }} : </strong>

                        <a href="#">{{ user.researchGate }}</a>
                    </li>
                {% endif %}

                {% if user.site is not null %}
                    <li>
                        <strong>{{ 'listing.user.site.text'|trans({}, 'cocorico_listing') }} : </strong>

                        <a href="#">{{ user.site }}</a>
                    </li>
                {% endif %}

                {% if user.certification is not null %}
                    <li>
                        <strong>{{ 'listing.user.certification.text'|trans({}, 'cocorico_listing') }} : </strong>

                        {{ user.certification }}
                    </li>
                {% endif %}

                <li>
                    <strong>{{ 'user.profile.languages'|trans({}, 'cocorico_user') }}</strong>
                    {{ user.motherTongue|language_name(app.request.locale) }}
                    {% for cpt_lang, language in user.languages %}
                        {% if loop.index > 0 or not loop.last %}, {% endif %}
                        {{ language.code|language_name(app.request.locale) }}
                        {% set cpt_lang = cpt_lang + 1 %}
                    {% endfor %}
                </li>
            </ul><!-- /.list-meta -->
        </section>
    </div>
</aside>