{% trans_default_domain 'cocorico_user' %}

{{ form_start(form, {'attr': {'id': 'user-kyc-form', 'novalidate': ''}}) }}
    <div class="modal-header">
        <h5 class="modal-title">{{ 'user.kyc.title'|trans }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            {{ form_label(form.birthday) }}
            <div class="row">
                {{ form_errors(form.birthday) }}
                <div class="col-md-4">
                    {{ form_widget(form.birthday.day, {
                        'attr': {
                            'class': 'form-control'
                        }
                    }) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(form.birthday.month, {
                        'attr': {
                            'class': 'form-control'
                        }
                    }) }}
                </div>
                <div class="col-md-4">
                    {{ form_widget(form.birthday.year, {
                        'attr': {
                            'class': 'form-control'
                        }
                    }) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.nationality) }}
            {{ form_errors(form.nationality) }}
            {{ form_widget(form.nationality, {
                'attr': {
                    'class': 'form-control'
                }
            }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.countryOfResidence) }}
            {{ form_errors(form.countryOfResidence) }}
            {{ form_widget(form.countryOfResidence, {
                'attr': {
                    'class': 'form-control'
                }
            }) }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-blue">{{ 'user.kyc.submit'|trans }}</button>
    </div>
{{ form_end(form) }}

<script>
    $(function(){
        $('#user-kyc-form').submit(function(e) {

            e.preventDefault();

            var url = $(this).attr('action');
            var data = $(this).serialize();

            var $modal = $('#modal');
            $modal.find('.modal-content').html('');

            var form = $.ajax({
                type: 'POST',
                url: url,
                data: data,
                cache: false,
                async: false
            }).responseText;

            if (form) {
                $modal.find('.modal-content').html(form);
                return;
            }

            if ($modal.data('form')) {
                $modal.data('form').submit();
                return;
            }

            window.location.reload();
        });
    });
</script>
