{% trans_default_domain 'cocorico_user' %}

<div role="tabpanel" class="tab-pane{{ register_class }}" id="home">

    {{ form_errors(form_registration) }}

    <div class="tab-holder">
        <div class="column">
            <h3>{{ 'user.signup.title'|trans|nl2br }}</h3>

            <div class="field-row validate-row">
                <div class="error-container">{{ form_errors(form_registration.firstNameLegal) }}</div>
                <span class="label">
                    {{ form_label(form_registration.firstNameLegal) }}
                </span>
                <div class="field-holder">
                    {{ form_widget(form_registration.firstNameLegal, {
                        'attr': {
                            'class': "form-control required",
                            'data-parsley-required-message': 'cocorico_user.first_name_legal.blank'|trans({},'validators'),
                            'data-parsley-invalid-message': 'cocorico_user.first_name_legal.invalid'|trans({}, 'validators')
                        }
                    }) }}
                </div>
            </div>

            <div class="field-row validate-row">
                <div class="error-container">{{ form_errors(form_registration.lastNameLegal) }}</div>
                <span class="label">
                    {{ form_label(form_registration.lastNameLegal) }}
                </span>
                <div class="field-holder">
                    {{ form_widget(form_registration.lastNameLegal, {
                        'attr': {
                            'class': 'form-control required',
                            'data-parsley-required-message': 'cocorico_user.last_name_legal.blank'|trans({},'validators'),
                            'data-parsley-invalid-message': 'cocorico_user.last_name_legal.invalid'|trans({}, 'validators')
                        }
                    }) }}
                </div>
            </div>

            <div class="field-row validate-row" data-id="company-name">
                <div class="error-container">{{ form_errors(form_registration.companyName) }}</div>
                <span class="label">
                    {{ form_label(form_registration.companyName) }}
                </span>
                <div class="field-holder">
                    {{ form_widget(form_registration.companyName, {
                        'attr': {
                            'class': 'form-control',
                            'data-parsley-required-message': 'cocorico_user.company_name.blank'|trans({},'validators')
                        }
                    }) }}
                </div>
            </div>

            <div class="field-row validate-row">
                <div class="error-container">{{ form_errors(form_registration.email) }}</div>
                <span class="label">{{ form_label(form_registration.email) }}</span>
                <div class="field-holder">
                    {{ form_widget(form_registration.email, {
                        'attr': {
                            'class': "form-control required",
                            'data-parsley-required-message': 'cocorico_user.email.blank'|trans({},'validators'),
                            'data-parsley-invalid-message': 'cocorico_user.email.invalid'|trans({}, 'validators'),
                            'data-parsley-type-message': 'cocorico_user.email.invalid'|trans({}, 'validators')
                        }
                    }) }}
                </div>
            </div>

            <div class="field-row validate-row">
                <div class="error-container">{{ form_errors(form_registration.plainPassword.first) }}</div>
                <span class="label">{{ form_label(form_registration.plainPassword.first) }}</span>
                <div class="field-holder">
                    {{ form_widget(form_registration.plainPassword.first, {
                        'attr': {
                            'class': "form-control required",
                            'data-parsley-required-message': 'cocorico_user.plainPassword.first.blank'|trans({},'validators'),
                            'data-parsley-invalid-message': 'cocorico_user.plainPassword.first.invalid'|trans({}, 'validators')
                        }
                    }) }}
                </div>
            </div>

            <div class="field-row validate-row">
                <div class="error-container">{{ form_errors(form_registration.plainPassword.second) }}</div>
                <span class="label">{{ form_label(form_registration.plainPassword.second) }}</span>
                <div class="field-holder">
                    {{ form_widget(form_registration.plainPassword.second , {
                        'attr': {
                            'class': "form-control required",
                            'data-parsley-equalto': "#"~ form_registration.plainPassword.first.vars.id,
                            'data-parsley-equalto-message': 'fos_user.password.mismatch'|trans({},'validators'),
                            'data-parsley-required-message': 'cocorico_user.plainPassword.second.blank'|trans({},'validators'),
                            'data-parsley-invalid-message': 'cocorico_user.plainPassword.second.invalid'|trans({}, 'validators')
                        }
                    }) }}
                </div>
            </div>

            <div class="field-row validate-row">
                <div class="error-container">{{ form_errors(form_registration.tac) }}</div>
                <span class="label"></span>
                <div>
                    {{ form_widget(form_registration.tac, {
                        'attr': {
                            'class': "form-control required",
                            'data-parsley-required-message': 'form.user.tac.error'|trans({},'cocorico'),
                        }
                    }) }}
                    {{ form_label(form_registration.tac, null, {'required': false} ) }}
                    <a href="{{ path('cocorico_page_show', { 'slug': 'nav.tac.slug'|trans }) }}" target="_blank">
                        {{ 'form.user.tac.link'|trans }}
                    </a>*
                </div>
            </div>

        </div>
    </div>
</div>
{{ form_rest(form_registration) }}