{% extends '::base.html.twig' %}

{%- block meta_title -%}
    {{ 'registration.page.meta_title'|trans({}, 'cocorico_meta') ~ " - " ~ cocorico_site_name }}
{%- endblock -%}

{%- block meta_description -%}
    {{ 'registration.page.meta_desc'|trans({}, 'cocorico_meta') }}
{%- endblock -%}

{% block layout %}
    {% embed '@CocoricoCore/Frontend/layout.html.twig' %}

        {% trans_default_domain 'cocorico_user' %}

        {% block main %}
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 logintop">
                        {% include 'CocoricoCoreBundle:Frontend/Common:_flash.html.twig' %}
                        <div id="form-registerlogin" class="form-signup validate-form alt row">
                            <h1>{{ 'listing.new.signup.title'|trans({},'cocorico_listing') }}</h1>

                            <form class="form" action="{{ path('cocorico_user_register') }}" method="POST" autocomplete="off">

                                {% include '@CocoricoUser/Frontend/Common/_login_register.html.twig' with {
                                'form_registration': form,
                                'form_login': false
                                } only %}

                                <div class="btn-block text-center">
                                    <button type="submit" class="btn btn-default">{{ 'registration.submit'|trans }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

    {% endembed %}
{% endblock layout %}