{% trans_default_domain 'cocorico_booking' %}

{% if booking.answers|length %}
    <div class="box-info">
        <h5>{{ 'booking.answers.header'|trans|raw }}</h5>
        <div class="box-info-inner">
            {% for answer in booking.answers %}
                <p style="padding-left: {{ (answer.level * 20) ~ 'px' }}">{{ answer.number }}) {{ answer.question.titleAsker }}<br>> <strong>{{ (answer.choice is not null) ? answer.choice.text : answer.value }}</strong></p>
            {% endfor %}
        </div>
    </div>
{% endif %}
