{% trans_default_domain 'cocorico_listing' %}

{% if listing is defined and listing.experiment is not null %}
    {% set experiment = listing.experiment %}
{% endif %}

<div id="experiment-details">

    {% if experiment is defined and experiment.deliverables|length %}

        <div class="form-inner-medium form-element">
            <h2><strong class="step-number"></strong> / {{ 'listing.new.third.step'|trans }}</h2>
            <div class="form-box">
                <figure>
                    <img src="{{ asset('images/cuvette-small.png') }}" alt=""/>
                </figure>
                <ul>
                    {% for deliverable in  experiment.deliverables %}
                        <li>● {{ deliverable }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% endif %}

    {% if form.answers|length %}

        <div class="form-inner form-element">
            <h2><strong class="step-number"></strong> / {{ 'listing.new.forth.step'|trans }}</h2>
            <div class="steps">
                {{ form_widget(form.answers) }}
            </div>
        </div>

    {% endif %}

</div>
